@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@400;700&display=swap');

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

<style>
  .typing {
    width: 18ch; /* Adjust this to match your text length */
    animation: typing 2s steps(18), blink-caret 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    display: inline-block;
  }

  @keyframes typing {
    from { width: 0 }
  }

  @keyframes blink-caret {
    50% { border-color: transparent }
  }
</style>


img {
  max-width: 100%;
  height: auto;
}
/* For screens smaller than 768px */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main-content {
    width: 100%;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.item {
  flex: 1 1 200px;
  margin: 10px;
}

body {
    background-color: black;
    color: azure;
    font-family: "Tourney", sans-serif;
}
.light {
    font-size: 25px;
    color: hsla(313, 100%, 80%, 0.781);
    text-decoration: none;
    transition: all 0.3s ease;
}

a.light:hover {
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

h1 {
    color: hsla(313, 100%, 80%, 0.781);
    font-size: 2rem;
    margin-top: 40px;
}

li {
    list-style-position: inside;
}

span::after {
    content: "_";
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}


